/* Global layout and styling */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

head {
  font-family: 'Bungee', cursive;
}

span {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Style for the top level flex box container*/
.container {
  display: flex;
  width: 90%;
  flex-direction: column;
  background-color: #f4f1ec;
  align-self: center;
  margin: auto;
}

